.about {
  padding-top: 2rem;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .about:first-child {
    flex-grow: 1;
  }
  &_bio {
    .section-title {
      color: $secondary-color;
      @include responsive-fontSize(
        $sectionTitleSizePC,
        $sectionTitleSizePad,
        $sectionTitleSizeSmPad,
        $sectionTitleSizePhone
      );
    }
    p {
      letter-spacing: 3px;
      line-height: 20px;
      @include responsive-fontSize(
        $sectionParagraphSizePC,
        $sectionParagraphSizePad,
        $sectionParagraphSizeSmPad,
        $sectionParagraphSizePhone
      );
    }
    li {
      padding: 5px 0;
      line-height: 25px;
    }
    &-image {
      border-radius: 10px;
      width: 100%;
      background: linear-gradient(
        to left,
        rgba($tertiary-color, 0.5),
        rgba($tertiary-color, 0.1)
      );
      background-size: cover;
    }

    &-lightBox {
      margin-top: 20px;
      text-decoration: none;
      @include responsive-fontSize(14px, 14px, 14px, 12px);
      cursor: pointer;
      font-size: 8px;
      padding-left: 80%;
      &:hover {
        text-decoration: underline;
      }
    }
    &-exp {
      display: flex;
      > .jobs_job {
        height: 50%;
      }
      > div {
        flex-grow: 1;
        h2 {
          @include responsive-fontSize(30px, 24px, 20px, 18px);
        }

        h3 {
          @include responsive-fontSize(26px, 20px, 18px, 14px);
        }

        h6 {
          @include responsive-fontSize(20px, 18px, 16px, 12px);
        }
      }
      h5 {
        padding: 5px 0;
        line-height: 25px;
      }
    }
    &-hide {
      position: fixed;
      top: -100%;
      z-index: 2;
      right: 0%;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      @include transition-ease;
      overflow: hidden;
      &-paragraph {
        /* 設定內容的樣式及位置(白底區塊) */
        border-radius: 5px;
        width: 70%;
        height: 70%;
        background: $primary-color;
        margin: 0 auto;
        position: absolute;
        padding: 0 8px;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        overflow: scroll;
        @include transition-ease;
        p {
          margin-top: 20px;
          font-size: 12px;
          letter-spacing: 3px;
          line-height: 16px;
        }
      }
    }
  }
}
