.about {
  padding-top: 2rem;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .about:first-child {
    flex-grow: 1;
  }
  &_bio {
    p {
      letter-spacing: 3px;
      line-height: 20px;
    }
    @media #{$tablet} {
      p {
        font-size: 14px;
      }
    }
    @media #{$mobile} {
      p {
        font-size: 12px;
      }
    }
  }
  &_bio-image {
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(
      to left,
      rgba($tertiary-color, 0.5),
      rgba($tertiary-color, 0.1)
    );
    background-size: cover;
  }
  &_bio-exp {
    display: flex;
    > .jobs_job {
      height: 50%;
    }
    > div {
      flex-grow: 1;
      @media #{$tablet} {
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 16px;
        }
        h6 {
          font-size: 12px;
        }
      }
      @media #{$mobile} {
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 16px;
        }
        h6 {
          font-size: 12px;
        }
      }
    }
  }
}
