.about {
  padding-top: 2rem;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .about:first-child {
    flex-grow: 1;
  }
  &_bio {
    p {
      letter-spacing: 3px;
      line-height: 20px;
    }
    @media #{$tablet} {
      p {
        font-size: 14px;
      }
    }
    @media #{$mobile} {
      p {
        font-size: 12px;
      }
    }
    &-image {
      border-radius: 10px;
      width: 100%;
      background: linear-gradient(
        to left,
        rgba($tertiary-color, 0.5),
        rgba($tertiary-color, 0.1)
      );
      background-size: cover;
    }
    @media #{$tablet} {
      &-lightBox {
        font-size: 14px;
      }
    }
    @media #{$mobile} {
      &-lightBox {
        font-size: 12px;
      }
    }
    &-lightBox {
      margin-top: 20px;
      text-decoration: none;
      cursor: pointer;
      font-size: 8px;
      padding-left: 80%;
      &:hover {
        text-decoration: underline;
      }
    }
    &-exp {
      display: flex;
      > .jobs_job {
        height: 50%;
      }
      > div {
        flex-grow: 1;
        @media #{$tablet} {
          h2 {
            font-size: 18px;
          }
          h3 {
            font-size: 16px;
          }
          h6 {
            font-size: 12px;
          }
        }
        @media #{$mobile} {
          h2 {
            font-size: 18px;
          }
          h3 {
            font-size: 16px;
          }
          h6 {
            font-size: 12px;
          }
        }
      }
    }
    &-hide {
      position: fixed;
      top: -100%;
      right: 0%;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      @include transition-ease;
      overflow: hidden;
      &-paragraph {
        /* 設定內容的樣式及位置(白底區塊) */
        border-radius: 5px;
        width: 70%;
        height: 70%;
        background: $primary-color;
        margin: 0 auto;
        position: absolute;
        padding: 0 8px;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        overflow: scroll;
        @include transition-ease;
        p {
          margin-top: 20px;
          font-size: 12px;
          letter-spacing: 3px;
          line-height: 16px;
        }
      }
    }
  }
}
