$primary-color: #263f44;
$secondary-color: #ffd369;
$tertiary-color: #015668;
$big-font-weight: 400;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$mobile: "(min-width: 480px) and (max-width: 765px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}
