.contact {
  &_main {
    padding-top: 5vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    .section-title {
      color: $secondary-color;
      @include responsive-fontSize(
        $sectionTitleSizePC,
        $sectionTitleSizePad,
        $sectionTitleSizeSmPad,
        $sectionTitleSizePhone
      );
    }
    &-wrapper {
      margin-top: 2vh;
      position: relative;
      flex-grow: 1;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(
        to right,
        rgba($tertiary-color, 0.8),
        rgba($tertiary-color, 0.1)
      );
      background-size: cover;
      > .container {
        display: flex;
        width: 100%;
        padding: 10px 15px;
        height: 100%;
        .left {
          width: 30%;
          background-color: #fff;
          border-radius: 5px;
          display: flex;
          @include transition-ease;
          @media all and (max-width: 1300px) {
            display: none;
          }
          flex-direction: column;
          .upper {
            height: 50%;
            width: 100%;
            position: relative;
            border-bottom: 10px solid $tertiary-color;
            figure {
              position: absolute;
              overflow: hidden;
              top: calc(50% - 75px);
              right: calc(50% - 75px);
              height: 150px;
              width: 150px;
              border-radius: 50%;
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
          .lower {
            width: 100%;
            flex-grow: 1;
            display: flex;
            p {
              height: 60%;
              width: 80%;
              text-align: center;
              justify-content: center;
              align-self: center;
              color: #000;
              line-height: 2rem;
              font-size: 1.5rem;
              flex-grow: 1;
            }
          }
        }
        .right {
          padding-left: 10px;
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          > .contact_card {
            width: 50%;
            @media all and (max-width: 600px) {
              width: 100%;
            }
            perspective: 1000px;
            &:hover .contact_card-wrapper {
              transform: rotateY(180deg);
            }
            .contact_card-wrapper {
              box-sizing: border-box;
              @include transition-ease;
              transform-style: preserve-3d;
              position: relative;
              width: 100%;
              height: 100%;
              > div {
                border-radius: 5px;
                box-shadow: 3px 3px 0 5px rgba($tertiary-color, 0.4);
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                  @include responsive-fontSize(25px, 18px, 16px, 20px);
                }
                i {
                  font-size: 50px;
                  position: absolute;
                  top: calc(50% - 25px);
                  right: calc(50% - 25px);
                  color: #fff;
                }
              }
              .back {
                position: absolute;
                transform: rotateY(180deg);
              }
              .first {
                background-color: #ecb88a;
              }
              .second {
                background-color: #cb4042;
              }
              .third {
                background-color: #734338;
              }
              .fourth {
                background-color: #e98b2a;
              }
            }
          }
        }
      }
    }
  }
}
