.home {
  position: relative;
  font-family: "Playfair Display", serif;
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: right;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.1)
    ),
    url("/img/2nd date in Japan 👫🌻_200105_0134.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;

  &_name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}

.slide {
  position: absolute;
  top: 40vh;
  height: 100%;
  width: 100%;
  animation: slide 3s 1s 1 normal both;
}

@keyframes slide {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}
