.skill {
  &_main {
    padding-top: 5vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    .section-title {
      color: $secondary-color;
      @include responsive-fontSize(
        $sectionTitleSizePC,
        $sectionTitleSizePad,
        $sectionTitleSizeSmPad,
        $sectionTitleSizePhone
      );
    }
    &-wrapper {
      margin-top: 2vh;
      position: relative;
      flex-grow: 1;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(
        to right,
        rgba($tertiary-color, 0.8),
        rgba($tertiary-color, 0.1)
      );
      background-size: cover;
      > card {
        flex-grow: 1;
        display: flex;
        .chart {
          margin: 0 auto;
          padding: 20px 50px;
          width: 25%;
          h4 {
            @include responsive-fontSize(30, 26, 22, 18);
            margin-bottom: 30px;
          }
          path.color0 {
            fill: $secondary-color;
          }
          path.color1 {
            fill: $tertiary-color;
          }
          text {
            font-family: sans-serif;
            line-height: 16rem;
            fill: #fff;
          }
        }
      }
      .skill-point {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 60px);
        color: #fff;
        font-size: 60px;
        font-weight: lighter;
      }
      .skill-category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: absolute;
        height: 10vh;
        width: 100%;
        cursor: pointer;
        top: 90%;
        left: 4vw;
        li {
          z-index: 2;
          @include responsive-fontSize(20px, 18px, 14px, 12px);
          width: 25%;
        }
      }
    }
  }
}

#chart-container {
  padding: 25px;
  .skill_check {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
  }
  .shadow {
    -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
    flex-grow: 1;
    padding-top: 10vh;
    margin: 0 auto;
    path {
      @include transition-ease;
      cursor: pointer;
    }
  }
}
